/* CSS crunched with Crunch - http://crunchapp.net/ */
/* CSS crunched with Crunch - http://crunchapp.net/ */
body {
  background: #FFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#logo_div {
  background-color: #FFF;
}
#logo_div div {
  display: inline;
}
#logo_div div #title {
  text-align: center;
}
#logo_div div img {
  margin: 22px auto 31px;
}
#searchform {
  padding-left: 500px;
}
.form-inline .form-control {
  width: 400px;
}
.form-inline .form-control.checkbox {
  margin-top: 5px;
}
#list {
  text-align: center;
}
#search li {
  display: inline;
}
.searchlist {
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #eee;
}
.searchlist a {
  color: black;
}
.searchlist a:hover {
  color: #B8B8B8;
  text-decoration: none;
}
.form-inline .checkbox {
  margin-top: 5px;
}
