<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Data Saver</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/fonts/FontAwesome/font-awesome-4.0.3.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
		<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body  ng-controller="saverCtrl">
<div id="logo_div" class="jumbotron">
  <div>
   <span id="logo"><img src="img/data_saver.png" class="img-responsive"></span>
  <span id="title"><h2>Data Saver</h2></span>
  </div>
</div>
    <div class="container">
       <div class="row">
       		<form class="form-horizontal" role="form" ng-submit="addData()">
       			<div class="form-group">
				<label class="col-sm-2 control-label">Your Name</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" placeholder="Sherlock Holmes" ng-model="name">
				</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">File Name</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" placeholder="File Name" ng-model="filename">
				</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">File Type</label>
				<div class="col-sm-10">
		  		<input type="text" class="form-control" placeholder="File Type: Audio, Video, Ebook, etc..." ng-model="filetype"> 
				
				</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">Contact Info:</label>
				<div class="col-sm-10">
		  		<input type="text" class="form-control" placeholder="example@ashesi.edu.gh or 072-234-231-2" ng-model="contactInfo"> 
				
				</div>
				</div>
				
				<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">Add File</button>
				</div>
				</div>
			</form>
       </div>
		<div  ng-repeat="d in d"> 
				{{d.name}} 
				{{d.filename}}
				{{d.filetype}}
				{{d.contactInfo}}
	</div>
    </div>
    
  

  <script src="bower_components/angular/angular.js"></script>
	  <script src="bower_components/angular-route/angular-route.js"></script>
	  <script src="app.js"></script>
	  <script src="view1/view1.js"></script>
	  <script src="view2/view2.js"></script>
	  <script src="js/controller.js"></script>
	  
	  <script src="components/version/version.js"></script>
	  <script src="components/version/version-directive.js"></script>
	  <script src="components/version/interpolate-filter.js"></script>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap-3.0.0/js/bootstrap.js"></script>
</body>

</html>