<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Data Saver : Home</title>
    <meta name= "description" content="">
    <meta name= "viewport" content ="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="app.css"/>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/fonts/FontAwesome/font-awesome-4.0.3.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
        




    <!--icon-->
    <link href="assets/img/data_saver.png" rel="icon" />
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="assets/css/datasaver.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    
</head>

<body ng-controller="saverCtrl">
    <!-- Navigation Bar, fixed to top -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logged in as: </a>{{userInfo.username}}</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Files</a></li>
                            <li><a href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div id="wrapper">
        <div class="col-xs-10 col-xs-offset-1  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="signup">
                
                <form>
                    <div class="text-center">
                        <img src="assets/img/data_saver.png" class="text-center">
                    </div>
                    <div class="input-group col-xs-12 padding-10">
                        <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="Search..." ng-model="query">
                    </div>
                    
                    <div class="btn-group btn-group-justified">
                         <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"></span> Add A File
                            </button>
                         </div>
                         <!-- <div class="btn-group">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                         </div> -->
                    </div>
                </form>
                
                 <div class="">
                <div class="col-sm-offset-2 col-sm-10">





            </div>

        </div>
        <p></p>
                    <ul class="results">
                        <li ng-repeat ="d in d | filter:query" class = "thumbnail" ng-show="query">

                            {{d.name}}
                            <p> {{d.filename}},
                            {{d.filetype}} </p>
                            <a href="mailto:{{d.contactInfo}}"><n> {{d.contactInfo}} </n></a>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <p>{{formInfo}}</p>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title, text-center">Add A New File</h4>
                </div>

                <div class="modal-body">
                    <form >

                        <div class="input-group col-xs-12 padding-10">
                            
                           <!--  <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="File Name"> -->
                            <!-- <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="Short Description"> -->

                            <form class="form" ng-submit="addData()">
                                <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="Name" ng-model="name">
                                <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="File Name" ng-model="filename">
                                <input id="btn-input" type="text" class="form-control input-md margin-10" placeholder="File Name" ng-model="contactInfo">
                                <div class="form-group">
                                    <label class="radio-inline">File Type: </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="pdf" ng-model="user.filetype" value="pdf"> PDF
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="pdf" ng-model="user.filetype" value="epub"> EPUB
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="pdf" ng-model="user.filetype" value="video"> Video
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="pdf" ng-model="user.filetype" value="audio"> Audio
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="pdf" ng-model="user.filetype" value="image"> Image
                                    </label>
                                </form> 
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
       

    </div><!-- /.modal -->


    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-2.1.1.min.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

    
        <script src="js/bootstrap.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app.js"></script>
        <script src="view1/view1.js"></script>
        <script src="view2/view2.js"></script>
        <script src="assets/js/controller.js"></script>
          
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
        <script>
            $('.collapse').collapse();
        </script>


</body>

</html>
